.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 900;
}

.modal {
  position: fixed;
  top: 28vh;
  left: 33vw;
  transform: translate(-50%, -50%); /* centraliza nos dois eixos */
  width: 90%;
  max-width: 450px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  padding: 25px;
  z-index: 1000;
}

.modal h3 {
  margin-top: 0;
  font-size: 1.4rem;
  text-align: center;
}

.modal p {
  margin: 8px 0;
  font-size: 0.95rem;
  color: #333;
}

.closeBtn {
  margin-top: 15px;
  display: block;
  width: 100%;
  color: #007bff;
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.closeBtn:hover {
  background-color: #007bff;
  color: white;
}