.reset_page {
  background-image: url("../assets/fundo-login2.png");
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset_card {
  
  background: white;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  width: 400px;
  text-align: center;
  margin: 10rem;
}

.reset_card h2 {
  color: #000000;
  margin-bottom: 10px;
  font-size: 26px;
}

.reset_card p {
  color: #666;
  margin-bottom: 25px;
  font-size: 14px;
}

.reset_card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset_card input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.reset_card input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.5);
}

.btn {
  padding: 12px;
  border: 2px solid #007bff;
  background: transparent;
  color: #007bff;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: #007bff;
  color: white;
  box-shadow: 0 0 12px rgba(0, 123, 255, 0.6);
}

.message {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
}

.back_btn {
  margin-top: 20px;
  border: none;
  background: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease;
}

.back_btn:hover {
  color: #0046b3;
}

