.container {
  background: #ffffff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.4s ease-in-out;
  margin-bottom: 2rem;
}

.subsection {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 2px solid #e0e0e0;
}

.tabHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s, border-bottom 0.2s;
}

.title:hover {
  color: #222;
}

.activeTab {
  color: #007bff;
  border-bottom: 3px solid #007bff;
  padding-bottom: 4px;
}

.searchBox {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.searchInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-height: 500px;
  overflow-y: auto;
}

.card {
  background: #f8f9fb;
  border-radius: 12px;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  /* 👈 separa texto e botão */
  align-items: center;
  /* 👈 centraliza verticalmente */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card:hover {
  background: #eef2f7;
  transform: translateY(-2px);
}

.infoArea {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: #333;
  flex: 1;
  /* 👈 ocupa o espaço da esquerda */
}

.info {
  text-align: center;
  color: #555;
}

.error {
  text-align: center;
  color: #d32f2f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.statusButton {
  border: none;
  padding: 8px 16px; /* 👈 deixa o botão maior */
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  min-width: 110px; /* 👈 evita que encolha demais */
  text-align: center;
}

.statusButton.enable {
  
  color: #e74c3c;
  background-color: white;
  border: #e74c3c 2px solid;
}

.statusButton.disable {
  color: #2ecc71;
  background-color: white;
  border: #2ecc71 2px solid;
}

.statusButton:hover {
  opacity: 0.85;
}