.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* modal sobe do fundo */
    z-index: 100;
    padding: 2rem;
}

/* Cartão do modal */
.modalCard {
    position: absolute;
    top: 25vh;
    background: #ffffff;
    backdrop-filter: blur(4px);
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fadeUp 0.4s ease-out;
}

.modalCard h3 {
    margin: 0;
    text-align: center;
    color: #222;
}

.modalCard p {
    font-size: 0.9rem;
    color: #444;
    text-align: center;
}

.modalCard input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1rem;
    transition: all 0.2s;
}

.modalCard input:focus {
    outline: none;
    border-color: #1976d2;
    box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

/* Botões */
.confirmBtn {
    flex: 1;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s, opacity 0.2s;
}

.confirmBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.confirmBtn.disable:hover:not(:disabled) {
    background-color: #e53935;
    color: white;

}

.confirmBtn.enable:hover:not(:disabled) {
    background-color: #43a047;
    color: white;

}


/* Variação de cores */
.confirmBtn.disable {
    color: #e53935;
    background-color: transparent;
    border: 2px solid #e53935;
    transition: all 0.2s ease;
}

.confirmBtn.enable {
    color: #43a047;
    background-color: transparent;
    border: 2px solid #43a047;
    transition: all 0.2s ease;
}

.cancelBtn {
    background: transparent;
    color: #444;
    border: 2px solid  #444;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.cancelBtn:hover {
    background: #444;
    color: white;
}

/* Animação de entrada */
@keyframes fadeUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}