.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.modal {
  width: 90%;
  max-width: 420px;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 6px 22px rgba(0,0,0,0.25);
  text-align: center;
}

.modal h3 {
  margin-bottom: 14px;
  font-size: 1.35rem;
  font-weight: 600;
}

.text {
  font-size: 1rem;
  color: #444;
  margin-bottom: 25px;
  line-height: 1.45;
}

.link {
  color: #007bff;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.confirmBtn {
  background: transparent;
  color: #28a745;
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
  border: #28a745 2px solid;
}

.confirmBtn:hover {
  background: #28a745;
  color: white;
}

.cancelBtn {
  background: transparent;
  color: #444;
  border: 2px solid #444;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.cancelBtn:hover {
  background: #444;
  color: white;
}
