.container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  max-height: 300px; 
  display: flex;
  flex-direction: column;
  
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
  margin: 0.6rem 0 1rem 0;
}

.scrollArea {
  overflow-y: auto;
  max-height: 200px;
  padding-right: 6px;
  font-weight: 100;
  color: #333;
}

.scrollArea::-webkit-scrollbar {
  width: 6px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: #fafafa;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.activeTag {
  margin-left: 10px;
  background: #07b610;
  color: #fff;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
}

.button {
  background: #fff;
  border: 2px solid #007bff;
  color: #007bff;
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.85rem;
}

.button:hover {
  background: #007bff;
  color: #fff;
}

.button.disabled,
.button:disabled {
  border-color: #aaa;
  color: #89a58f;
  cursor: not-allowed;
  background: #fff;
  
}

.infoText {
  color: #555;
  font-size: 0.95rem;
}

.error {
  color: #c53b3b;
  font-weight: 600;
}
.ativo {
  border: 2px solid #89a58f !important; 
  color: #89a58f;
  background-color: white;
  cursor: default;
}

