/* Logo */
.login_header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .5rem 30px;
  background: linear-gradient(to right, #007bff, #0046b3);
  font-style: italic;
  display: flex;
  justify-content: space-between; /* separa logo e ícone */
  align-items: center; /* alinha verticalmente */
  z-index: 1000;
}

.hyperText{
  text-decoration: none;
}

.login_header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
     
}
