.hero {
  display: flex;
  align-items: center;
  min-height: 42rem;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(assets/banner2.jpg);
  -webkit-text-fill-color: #ddd;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
}

.hero_content {
  position: relative;
  color: white;
  margin: 8rem;
  padding: 40px;
  max-width: 600px;
  
}

.hero_content h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.hero_content p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 1.6;
  width: 80%
}



/* SOBRE */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background: #f9f9f9;
  
}

.about_img img {
  max-width: 400px;
  border-radius: 8px;
  margin-right: 40px;
}

.about_text {
  max-width: 500px;
}

.about_text h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

.about_text p {
  font-size: 15px;
  line-height: 1.6;
 
}
