.sobre_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.main_area {
  flex: 1;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
  padding-top: 8rem;
}

.main_area h1 {
  font-size: 2.5rem;
  text-align: center;
  
  color: #2c3e50;
}

.section {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.section:hover {
  transform: translateY(-4px);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #34495e;
}

.sobre_page p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .main_area {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
