.logo_bar {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  gap: 2rem;
  background: #f3f3f3;
}

.history_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a0a0a;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #007DFA;
  box-shadow: 0 0 15px rgba(0, 125, 250, 0.4);
  width: 80%;
  margin: 0 auto;
}

.history_info h3 {
  margin: 0;
  font-size: 1rem;
  color: #007DFA;
}

.history_info p {
  margin: 2px 0 0 0;
  color: #ccc;
  font-size: 0.9rem;
}
