.btn {
  padding: 10px;
  border: 2px solid #007bff;
  background: transparent;
  color: #007bff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.2s ease-in;
}

.btn:hover:not(:disabled) {
  background: #007bff;
  color: white;
  box-shadow: 0 0 30px 5px rgba(12, 126, 255, 0.815);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
