.btn {
  border: 2px solid #007bff;
  background: transparent;
  color: #007bff;
  border-radius: 8px;
  font-weight: 500;
  padding: 1rem 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.btn img {
  width: 3rem;
  height: 3rem;
  transition: filter 0.3s ease,transform 0.3s ease,box-shadow 0.3s ease;
  
  border-radius: 50%;
}

.btn:hover {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.btn:hover img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(91%) saturate(2059%)
    hue-rotate(198deg) brightness(98%) contrast(101%); /* azul */
    transform: scale(1.1);
    box-shadow: 0 0 30px 5px rgba(12, 126, 255, 0.815);
}

