.btn {
  position: relative;
  width: 15rem;               /* 🔹 largura fixa igual pra todos */
  height: 5rem;               /* 🔹 altura fixa */
  border-radius: 7px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  display: flex;              /* centraliza texto */
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: #007DFA;
  background: rgb(252, 252, 252);
}
